.btn.btn-purple.ml-3{
  height: 3vw;
}

#body{
  padding: 0;
  margin: 0;
  background-color: #FAEEFF;
}
/* .select_area{
  display: flex;
  margin-top: 3vw;
  margin-left: 5vw;
} */

.select1{
  margin-top: 0.5rem;
  /* width: 6vw; */
  height: 3vw;
  border-radius: 0.6vw;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  text-align: center;
}
option{
  color: black;
}
.select2{
  /* margin-left: 70vw; */
  width: 8vw;
  height: 3vw;
  border-radius: 0.5vw;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  text-align: center;
}
.question_area{
  margin-top: 3vw;
  margin-left: 1.5vw;
  width: 40vw;
  height: 33vw;
  /* overflow:auto; */
 
}
.question{
  width: 45vw;
  height: 10vw;
  margin-top: 1vw;
  background-color: white;
  border-radius: 0.2vw;
  border:none;
  position: relative;
  text-align: start;
}
.good_area{
  width: 5vw;
  height: 4vw;
  border-radius: 30px; /* 角丸を10pxに設定 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.2vw;
  left: 37.99vw;
}
.good_img{
  width: 5vw;
  height: 3vw;
  background-color: #B164FF;
  border-radius: 50px; /* 角丸を10pxに設定 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.img3{
  width: 1.5vw;
  height: 1.5vw;
  justify-content: center;
  align-items: center;
}
.user2{
  margin:0;
  font-size: 0.7vw;
  margin-left: 1vw;
}

.day{
  margin: 0;
  font-size: 0.8vw;
  margin-top: 0.3vw;
  margin-left: 1.1vw;
}

.title{
  font-size: 1.6vw;
  font-weight: 0.7vw;
  margin-left: 1vw;
  margin-top: 0.3vw;
}
.tag_area{
  display: flex;
}
.img2{
  width: 1vw;
  height: 1vw;
  margin-left: 0.7vw;
}

.tag{
  font-size: 0.6vw;
  margin-left: 0.6vw;
  margin-top: 0.1vw;
}
.answer{
  font-size: 0.6vw;
  margin-left: 0.7vw;
}
.good{
  position: absolute;
  font-size: 1.5vw;
  font-weight: 0.7vw;
  top: 5.5vw;
  left: 40.18vw;
}

.checkbox{
  display: none;
}

.tag-element input:checked + label{
  display: none;
}

.tag-view{
  border-radius: 10px;
  border: 0.5px solid #989898;
  background-color: #FFFFFF;
  width:fit-content;
  padding: 5px 10px 5px 10px;
}

.tag-name{
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 0.5px solid #989898;
  background-color: #FFFFFF;
  cursor: pointer;

  display: blcok;
  box-sizing: border-box;
  text-decoration: none;

}

.row{
  margin-top: 1rem;
}

.remove-button{
  margin-left: 7px;
  cursor: pointer;
  font-weight: bold;
}

#filter-button{
  margin-top: 10px;
  margin-left: 10px;
}

