#header {
  background-color: #B164FF;
  height: 100px;
  color: aliceblue;
}

.card{
  margin: 20px;
}
.card-title{
  margin-bottom: 18px;
}

body{
  background-color: #FAEEFF;
}

.card-body{
  padding: 20px 25px 20px 25px;
}

.tag{
  border: 0.5px solid #989898;
  border-radius: 5px;
  padding-right: 4px;
  padding-left: 4px;
}

#good {
  background-color: #B164FF;
}

.bi-hand-thumbs-up-fill {
  color: #ffffff;
}

#edit{
  background-color: #E6D0E7;
}

.reply-area{
  margin: 20px 10px 10px 10px;
}
.reply-area #card-reply-area{
  margin-top: 10px;
}

#user-info-post-date{
  margin-bottom: 17px;
}

#good-amount{
  margin-bottom: 0px;
}

.btn{
  margin: 5px;
}

#side-area{
  padding: 20px;
}

.card-text{
  margin: 10px
}

.reply-write{
  margin: 20px;
}

.form-floating{
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

/**
#send{
  background-color: #FAEEFF;
}
*/

input[type="file"] {
  display: none;
}

.text-area-button{
  position: absolute;
  right: 250px;
}

#border-line-reply{
  margin-top: 50px;
}

h6{
  margin-bottom: 1.5rem;
}

#comment-text-area{
  margin-left: 0;
}

.comment-area-button{
  position: absolute;
  right: 300px;
}

.comment-write{
  margin-bottom: 40px;
}

