.body{
  padding: 0;
  margin: 0;
  background-color: #FAEEFF;
}

.rank_title{
  margin: 0;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  margin-top: 3vw;
}

.area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank_area{
  
  width: 85vw;
  height: 35vw;
  overflow: auto;
  text-align: center;
}

tr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  margin: 5px;
}

.rank{
  flex-grow: 1;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.user_icon{
  flex-grow: 1;
  width: 5vw;
  height: 5vw;
  background-color: #653A91;
  border-radius: 50px;
  margin-left: 15vw;
}

.user_name{
  flex-grow: 2;
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 26vw;
}

.point_sum{
  flex-grow: 4;
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 24vw;
}